.bor {
    border: 1px solid #7105D2;
    border-radius: 15px;
}

.rai {
    border-radius: 10px;
    padding-top: 0px;
    padding-bottom: 0px;
    border: dotted;
}

.raii {
    border-radius: 10px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.shaw {
    box-shadow: 3px -2px 5px 5px lightgray;
}

.wide {
    width: 51px;
    border-radius: 5px;
    border: 1px solid;
    height: 15px;
}

.fr {
    position: absolute;



}

.imager {
    object-fit: cover;
}

.sharpe {
    box-shadow: 2px -1px 11px;
    border-radius: 5px;
}

.close {
    font-size: x-large;
    color: brown;
}

.pop {
    position: relative;
    top: 13px;
    font-size: 48px;
    margin-top: 10px;
    font-weight: 700;
    font-size: 22px;
    color: white;
}

.full {
    display: flex;
    align-items: baseline;


}

.mrf {
    margin-top: -16px;
}

.rrr {
    margin-top: 5px;
    margin-right: 5px;
    border: 2px;
    height: 22px;
    width: 22px;
    text-align: center;
    border-radius: 50%;
    background-color: gainsboro;

}

.brr {
    color: #7105D2;
}

#bum {
    background-color:
        #D9D9D9;
    ;
    font-size: 15px;
    font-weight: 900;
    height: 48px;
    width: 151px;
    color:
        #888181;

}

/* hide scrollbar but allow scrolling */
.hrm {
    display: flex;
    overflow-x: scroll;
    height: 70px;
    padding-bottom: 20px;
}

.rmm {
    margin-left: 15px;


}

.fontss {
    font-size: 16px;
    font-weight: 400;
    line-height: 19.36px;
}

.cmap {
    width: 60%;
}

.borders {
    border: 1px solid #7105D2;
}

.allare {
    width: 117px;
    height: 56px;
    border-radius: 20px;

    box-shadow: 0px 4px 4px;
}

.reee p{
    font-size: 10px;
    font-weight: 300;
    margin-bottom: 0px !important;
    

}
.abc{
    display: flex !important;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}
.cde{
    overflow-y: scroll;
    padding-bottom: 20px;
}
.ed{
    display: flex;
    gap: 15px;
}
.bommer{
    position: absolute;
    bottom: 0px;

}