.bor {
    border: 1px solid #7105D2;
    border-radius: 15px;
}

.rai {
    border-radius: 10px;
    padding-top: 0px;
    padding-bottom: 0px;
    border: dotted;
}
.raii{
    border-radius: 10px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.shaw {
    box-shadow: 3px -2px 5px 5px lightgray;
}

.wide {
    width: 51px;
    border-radius: 5px;
    border: 1px solid;
    height: 20px;
}

.fr {
    position: absolute;



}
.imager{
    object-fit: cover;
}

.sharpe {
    box-shadow: 2px -1px 11px;
    border-radius: 5px;
}

.close {
    font-size: x-large;
    color: brown;
}

.full {
    display: flex;
    align-items: baseline;

   
}
.mrf{
    margin-top: -16px;
}

.rrr{
    margin-top: 5px;
    margin-right: 5px;
    border: 2px ;
    height: 22px;
    width: 22px;
    text-align: center;
    border-radius: 50%;
    background-color: gainsboro;

}
.brr{
    color:  #7105D2    ;
}
/* hide scrollbar but allow scrolling */
.hrm{
    display: flex;
    overflow-x: scroll;
}
.rmm{
    margin-left: 15px;
}
.fontss{
    font-size: 16px;
    font-weight: 400;
    line-height: 19.36px;
}

  